nav{
    background: rgb(20,114,113);
    background: linear-gradient(0deg, rgba(20,114,113,1) 0%, rgba(5,22,34,1) 100%);
    
}
nav *{
    color: white !important;
}
.logo{
    max-width: 170px;
}

        /* mobile */
        @media only screen and (max-width: 576px) {
            .logo{
                max-width: 120px;
            }
        }
