<div *ngIf="galleryImages" class="container">
  <div class="row justify-content-center">
    <div class="swiper-button-prev-unique-top swiper-nav green col-1 d-flex justify-content-end" ><i class="fa fa-angle-right" aria-hidden="true"></i></div>
    <swiper [config]="config" [(index)]="index"  class="col-10">
      <div class="white-bg" *ngFor="let image of galleryImages">
        <img *ngIf="image.type == 'image'" [src]="image.url" alt="{{image.title}}" style="display: block; width: 100%;">
        <button *ngIf="image.type == 'image'" tabindex="-1" class="largeImage btn" (click)="bigImage=image.url; bigImageTitle=image.title; setSmallFocus()">
          <i class="fa fa-search-plus" aria-hidden="true"></i>
        </button>
        <iframe *ngIf="image.type != 'image'" [src]="image.url" frameborder="0" title="{{image.title}}"></iframe>
        <div class="carousel-caption d-none d-md-block">
          <p class="green-bg"><span>{{image.title}}</span></p>
        </div>
      </div>
    </swiper>
    
<div #pagination class="swiper-button-next-unique-top swiper-nav green col-1"><i class="fa fa-angle-left" aria-hidden="true"></i></div>

  </div>
  <div class="swiper-pagination-unique-top row d-flex justify-content-center pt-4"></div>
</div>

<div class="bigImage" (click)="bigImage=''" [ngClass]="{'bigImage-visible': bigImage != ''}">
  <div>
  <img src="{{bigImage}}" alt="{{bigImageTitle}}">
  <button #bigImagePop class="largeImage btn" (click)="bigImage=''; returnFocus()"><i class="fa fa-search-minus" aria-hidden="true"></i></button>
</div>
</div>