<div class="container-fluid darkBlue-bg">
  <section class="container about-faculty-container main-container">
    <div class="row">
      <div class="col-lg-5 col-md-6 col-sm-12">
        <h2 class="gold">מי אנחנו</h2>
        <p>
          הפקולטה לטכנולוגיות למידה מכשירה
          את בוגריה להיות מפתחי פתרונות למידה
          דיגיטליים ומפתחי הדרכה משולבת
          טכנולוגיות למידה ולענות לשלל מצבים
          וצרכים של מגזרים שונים במשק:
          המגזר החינוכי, ההשכלה הגבוהה, השוק
          הארגוני הממשלתי והאזרחי.
        </p>
        <a href="https://www.hit.ac.il/telem/overview" target="_blank" class="btn btn-yellow">לאתר הפקולטה</a>
      </div>
      <div class="col-lg-1 col-md-0"></div>
      <!-- Venn diagram -->
      <div class="col-lg-5 col-md-6 col-sm-12">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" viewBox="0 0 524 486" style="enable-background:new 0 0 524 486;" xml:space="preserve">
          <style type="text/css">
            .st0 {
              fill: none;
            }

            .st1 {
              fill: none;
              stroke: #1BA098;
              stroke-width: 3;
            }

            .svgGold {
              fill: #BB9977;
              font-weight: 300;
              font-size: 1.5em;
            }
          </style>
          <g id="Ellipse_6" transform="translate(118.73)">
            <circle class="st1" cx="142.8" cy="142.5" r="141" />
            <text _ngcontent-jdd-c67="" x="27%" y="30%" text-anchor="middle" class="svgGold">פיתוח הדרכה</text>
          </g>
          <g id="Ellipse_7" transform="translate(238.73 201)">
            <circle class="st1" cx="142.8" cy="142.5" r="141" />
            <text _ngcontent-jdd-c67="" x="27%" y="30%" text-anchor="middle" class="svgGold">פיתוח טכנולוגי</text>
          </g>
          <g id="Ellipse_8" transform="translate(-0.27 201)">
            <circle class="st1" cx="142.8" cy="142.5" r="141" />
            <text x="27%" y="30%" text-anchor="middle" class="svgGold" dy="-0.6em">
              עיצוב מולטימדיה
            </text>
            <text x="27%" y="30%" text-anchor="middle" class="svgGold" dy="0.6em">
              אינטראקטיבית
            </text>
          </g>
        </svg>

      </div>
    </div>
  </section>
</div>