<app-nav></app-nav>
<div class="editor-main-wrapper container-fluid mt-5">
  <div class="row">
    <app-side-nav class="col-sm-2 col"></app-side-nav>
    <div class="main-table col-sm-10 col pt-5">
      <div class="container">
          <h1>סוגי תוצרים</h1>
          <button class="btn btn-primary-dark mt-3"><i
                  class="fa fa-plus-square-o mr-2" style="font-size: 18pt;  vertical-align: middle;"
                  aria-hidden="true"></i>
              הוספת סוג תוצר חדש</button>
  </div>
</div>