<app-nav></app-nav>
<div class="editor-main-wrapper container-fluid mt-5">
  <div class="row">
    <app-side-nav class="col-sm-2 col"></app-side-nav>
    <div class="main-table col-sm-10 col pt-5">
      <div class="container">
        <h1>תגיות</h1>
        <button class="btn btn-primary-dark mt-3" (click)="addTagModal()"><i class="fa fa-plus-square-o mr-2"
            style="font-size: 18pt;  vertical-align: middle;" aria-hidden="true"></i>
          הוספת תגית חדשה</button>
        <div class="table-container mt-4 table-responsive">
          <table class="table-hover table mt-4">
            <thead class="table-light">
              <th scope="col">תגית</th>
              <th scope="col" class="text-center">כמות תוצרים</th>
              <th scope="col" class="text-center">עריכה</th>
              <th scope="col" class="text-center">מחיקה <i class="fa fa-info-circle" [adaptivePosition]="false" tooltip="ניתן למחוק רק תגית ללא תוצרים."></i></th>
            </thead>
            <tbody>
              <tr class="text-center" *ngFor="let tag of tags">
                <th class="align-middle" scope="row">{{tag.title}}</th>
                <td class="align-middle">{{tag.counter}}</td>
                <td class="align-middle"><button class="btn" type="button" (click)="updateTagModal(tag)">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </button></td>
                <td class="align-middle"><button *ngIf="tag.counter == 0" class="btn" type="button" (click)="deleteTag(tag.id, tag.title)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <ngx-spinner [fullScreen]="true" type="ball-fussion" size="medium" color="#1BA098"></ngx-spinner>