<nav class="nav flex-column mt-5">
  <div class="text-center">
    <img src="../../../assets/images/telemEditor.png" width="100" alt="דמות מאויירת">
  </div>
  <span class="navbar-text text-center"><strong>שלום {{this.name | titlecase}}</strong></span>
  <hr />
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['/editor/products']">תוצרים</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['/editor/types']">סוגי תוצרים</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['/editor/organizations']">ארגונים</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['/editor/organizationtypes']">סוגי ארגונים</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['/editor/courses']">קורסים</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['/editor/lecturers']">מרצים</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['/editor/students']">סטודנטים</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['/editor/tasks']">משימות</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['/editor/tags']">תגיות</a>
  </li>
  <hr />
  <!-- <a class="nav-link" href="#">מטה-דאטה</a>
  <a class="nav-link" href="#">תוצרים לאישור</a> -->
  <a class="nav-link" href="#">ניהול משתמשים</a>
  <hr />
  <button class="nav-link btn btn-link text-left" (click)="logOut()">התנתקות</button>
</nav>