<form [formGroup]="addItem" (ngSubmit)="saveObject(addItem)">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">

      <label for="modalInput">{{label}}</label>
      <input id="modalInput"
        [ngClass]="{'is-invalid': addItem.get('name').errors && addItem.get('name').touched || addItem.getError('exists')}"
        class="form-control" type="text" formControlName="name" placeholder="{{placeHolder}}" autocomplete="off">
      <div class="invalid-feedback" *ngIf="addItem.getError('exists')
      ">{{alreadyExists}}</div>
      <div class="invalid-feedback" *ngIf="addItem.get('name').errors
      && addItem.get('name').touched">יש להזין ערך</div>


      <div *ngIf="input_2" class="mt-2">
        <label for="modalInput_2">{{label_2}}</label>
        <input id="modalInput_2" class="form-control" type="text" formControlName="number"
          placeholder="{{placeHolder_2}}" autocomplete="off">
      </div>


      <div *ngIf="isOrganization" class="mt-2">
        <label for="orgTypes">{{orgTypes_label}}</label>
        <div id="orgTypes" class="row">
          <div class="form-check form-check-inline col-sm-5" *ngFor="let type of orgTypes; let i=index;">

            <input class="form-check-input ml-2 mr-0" (change)="onCheckChange($event)" type="checkbox" id="type_{{type.id}}"
              [value]="type.title" [checked]="isChecked(type)">

            <label class="form-check-label pl-1 pr-0" for="type_{{type.id}}">{{type.title}}</label>
          </div>
        </div>
      </div>

      <div *ngIf="isTask" class="mt-2">
        <label for="taskDescription">{{descriptin_label}}</label>
        <textarea rows="7" class="form-control" formControlName="description" id="taskDescription"
          [ngClass]="{'is-invalid': addItem.get('description').value.trim()<1 && addItem.get('description').touched}">{{description}}</textarea>
        <div class="invalid-feedback"
          *ngIf="addItem.get('description').value.trim()<1 && addItem.get('description').touched">יש להזין ערך</div>
      </div>
    </div>

    <div *ngIf="successMessage" class="text-success ">{{successMessage}}</div>
    <div *ngIf="failMessage" class="text-danger">{{failMessage}}</div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
    <button type="button" class="btn btn-default" [disabled]="!addItem.valid || (!addItem.dirty && isEdit)"
      type="submit">{{saveBtnName}}</button>
  </div>

</form>