<form [formGroup]="addItem" (ngSubmit)="saveObject(addItem)">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="modalInput">{{label}}</label>
      <input id="modalInput" [ngClass]="{'is-invalid': addItem.getError('exists')}"
        class="form-control" type="text" formControlName="name" placeholder="{{placeHolder}}" autocomplete="off">
      <div class="invalid-feedback">{{alreadyExists}}</div>
      <div *ngIf="input_2" class="mt-2">
      <label for="modalInput_2">{{label_2}}</label>
      <input id="modalInput_2"
        class="form-control" type="text" formControlName="number" placeholder="{{placeHolder_2}}" autocomplete="off">
      </div>

      <div *ngIf="isOrganization" class="mt-2 row">
        <div class="form-check form-check-inline col-md-2" *ngFor="let type of orgTypes; let i=index">
          <label>
          <input class="form-check-input" (change)="onCheckChange($event)" type="checkbox" id="type_{{type.id}}" [value]="type.title">
          {{type.title}}
          </label>
        </div>
      </div>

    </div>

    <div *ngIf="successMessage" class="text-success ">{{successMessage}}</div>
    <div *ngIf="failMessage" class="text-danger">{{failMessage}}</div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
    <button type="button" class="btn btn-default" [disabled]="!addItem.valid" type="submit">{{saveBtnName}}</button>
  </div>

</form>