footer .btn{
    font-size: 1em;
}
footer .btn-link:hover, footer .btn-link:focus{
    color: white;
}

@media only screen and (max-width: 576px) {
    footer .btn{
        font-size: 0.9em;
        padding: 10px 0 ;
    }
}