<app-nav></app-nav>
<div class="editor-main-wrapper container-fluid mt-5">
  <div class="row">
    <app-side-nav class="col-sm-2 col"></app-side-nav>
    <div class="main-table col-sm-10 col pt-5">
      <div class="container" @Fading>
        <h1>סטודנטים</h1>
        <button class="btn btn-primary-dark mt-3" (click)="addStudentModal()"><i class="fa fa-plus-square-o mr-2"
            style="font-size: 18pt;  vertical-align: middle;" aria-hidden="true"></i>
          הוספת סטודנט/ית חדש/ה</button>
        <div class="table-container mt-4 table-responsive">
          <table class="table-hover table mt-4">
            <thead class="table-light">
              <th scope="col">סטודנט/ית</th>
              <th scope="col" class="text-center">כמות תוצרים</th>
              <th scope="col" class="text-center">עריכה</th>
              <th scope="col" class="text-center">מחיקה <i class="fa fa-info-circle" tooltip="ניתן למחוק רק סטודנט/ית ללא תוצרים." [adaptivePosition]="false"></i></th>
            </thead>
            <tbody>
              <tr class="text-center" *ngFor="let student of students">
                <th class="align-middle" scope="row">{{student.name}}</th>
                <td class="align-middle">{{student.counter}}</td>
                <td class="align-middle"><button class="btn" type="button" (click)="updateStudentModal(student)">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </button></td>
                <td class="align-middle"><button *ngIf="student.counter == 0" class="btn" type="button" (click)="deleteStudent(student.id, student.name)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <ngx-spinner [fullScreen]="true" type="ball-beat" size="medium" color="#1BA098"></ngx-spinner>