<app-nav></app-nav>
<div class="container login-container">
<article>
  <h1 class="card-title text-center">שכחתי סיסמה</h1>

  <form [formGroup]="forgotPasswordForm" autocomplete="off" novalidate
    (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
    <div class="form-group">
      <div class="row justify-content-center">
        <div class="form-group col-lg-5 col-md-7 col-sm-8">
      <label for="email" class="form-label">מייל:</label>
      <div>
        <input type="email" id="email" formControlName="email" class="form-control" [ngClass]="{'is-invalid': validateControl('email') && hasError('email', 'required')
            || validateControl('email') && hasError('email', 'email')}"
            (focus)='resetAlert()' />
        <div class="invalid-feedback" *ngIf="validateControl('email') && hasError('email', 'email')">יש להזין מייל
            תיקני</div>
        <div class="invalid-feedback" *ngIf="validateControl('email') && hasError('email', 'required')">יש להזין
            מייל</div>
    </div>
      </div>
        </div>
    </div>
    <p *ngIf="showError" class="text-danger text-center" role="alert">
      {{errorMessage}}
    </p>
    <p *ngIf="showSuccess" class="text-success text-center" role="alert">
      {{successMessage}}
    </p>
    <div class="form-group row justify-content-center">
        <button type="submit" class=" col-lg-3 col-md-4 btn btn-primary-dark" [disabled]="!forgotPasswordForm.valid">שליחה  
        <ngx-spinner [fullScreen]="false" type="ball-spin-clockwise" size="small" color="white"></ngx-spinner></button>
    </div>
    <div class="form-group row justify-content-center">
      <a  [routerLink]="['/editor']">חזרה לעמוד הכניסה</a>
    </div>
  </form>
</article>
</div>