<form [formGroup]="registerForm" class="col-lg-5 col-md-6" autocomplete="off" novalidate
    (ngSubmit)="registerUser(registerForm.value)">
    <div class="form-group">
        <label for="firstName" class="form-label">שם פרטי:</label>
        <div>
            <input type="text" id="firstName" formControlName="firstName" class="form-control"
                [ngClass]="{'is-invalid': validateControl('firstName') && hasError('firstName', 'required')}" />
            <div class="invalid-feedback" *ngIf="validateControl('firstName') && hasError('firstName', 'required')">
                יש להזין שם פרטי</div>
        </div>

    </div>
    <div class="form-group">
        <label for="lastName" class="form-label">שם משפחה:</label>
        <div>
            <input type="text" id="lastName" formControlName="lastName" class="form-control"
                [ngClass]="{'is-invalid': validateControl('lastName') && hasError('lastName', 'required')}" />
            <div class="invalid-feedback" *ngIf="validateControl('lastName') && hasError('lastName', 'required')">
                יש להזין שם משפחה</div>
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="form-label">מייל:</label>
        <div>
            <input type="email" id="email" formControlName="email" class="form-control" [ngClass]="{'is-invalid': validateControl('email') && hasError('email', 'required')
                || validateControl('email') && hasError('email', 'email')}" />
            <div class="invalid-feedback" *ngIf="validateControl('email') && hasError('email', 'email')">יש להזין מייל
                תיקני</div>
            <div class="invalid-feedback" *ngIf="validateControl('email') && hasError('email', 'required')">יש להזין
                מייל</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="form-label">סיסמה:</label>
        <div>
            <input type="password" id="password" formControlName="password" class="form-control" [ngClass]="{'is-invalid': validateControl('password') && hasError('password', 'required')
                || validateControl('password') && hasError('password', 'pattern')}" />

            <div class="invalid-feedback" *ngIf="validateControl('password') && hasError('password', 'required')">יש
                להזין סיסמה</div>
            <div class="invalid-feedback" *ngIf="validateControl('password') && hasError('password', 'pattern')">יש
                להזין סיסמה תיקנית</div>
        </div>

        <ul>
            <li><small>לפחות 8 תווים</small></li>
            <li><small>לפחות אות קטנה אחת</small></li>
            <li><small>לפחות אות גדולה אחת</small></li>
            <li><small>לפחות מספר אחד</small></li>
        </ul>
    </div>
    <div class="form-group">
        <label for="confirm" class="form-label">אישור סיסמה:</label>
        <div>
            <input type="password" id="confirm" formControlName="confirm" class="form-control" [ngClass]="{'is-invalid': validateControl('confirm') && hasError('confirm', 'required')
                || validateControl('confirm') && hasError('confirm', 'mustMatch')}" />

            <div class="invalid-feedback" *ngIf="validateControl('confirm') && hasError('confirm', 'required')">יש להזין
                את הסיסמה שנית</div>
            <div class="invalid-feedback" *ngIf="hasError('confirm', 'mustMatch')">הסיסמאות לא תואמות</div>
        </div>
    </div>
    <br>
    <div class="form-group row">
        <div class="col-lg-7 col-md-8">
            <button type="submit" class="btn btn-primary-dark" [disabled]="!registerForm.valid">רישום משתמש</button>
        </div>
    </div>
    <div>
        <p *ngIf="confirmation!=''" [innerHTML]="confirmation"></p>
        <p *ngIf="showError" class="text-danger" [innerHTML]="errorMessage"></p>
    </div>
</form>