<form [formGroup]="registerForm" class="col-lg-5 col-md-6" autocomplete="off" novalidate
    (ngSubmit)="registerUser(registerForm.value)">
    <div class="form-group">
        <label for="firstName" class="form-label">שם פרטי:</label>
        <div>
            <input type="text" id="firstName" formControlName="firstName" class="form-control"
                [ngClass]="{'is-invalid': validateControl('firstName') && hasError('firstName', 'required')}" 
                (focus)="resetAlert()"/>
            <div class="invalid-feedback" *ngIf="validateControl('firstName') && hasError('firstName', 'required')">
                יש להזין שם פרטי</div>
        </div>

    </div>
    <div class="form-group">
        <label for="lastName" class="form-label">שם משפחה:</label>
        <div>
            <input type="text" id="lastName" formControlName="lastName" class="form-control"
                [ngClass]="{'is-invalid': validateControl('lastName') && hasError('lastName', 'required')}" 
                (focus)="resetAlert()"/>
            <div class="invalid-feedback" *ngIf="validateControl('lastName') && hasError('lastName', 'required')">
                יש להזין שם משפחה</div>
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="form-label">מייל:</label>
        <div>
            <input type="email" id="email" formControlName="email" class="form-control" [ngClass]="{'is-invalid': validateControl('email') && hasError('email', 'required')
                || validateControl('email') && hasError('email', 'pattern')}" 
                (focus)="resetAlert()"/>
            <div class="invalid-feedback" *ngIf="validateControl('email') && hasError('email', 'pattern')">יש להזין מייל
                תיקני</div>
            <div class="invalid-feedback" *ngIf="validateControl('email') && hasError('email', 'required')">יש להזין
                מייל</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="form-label">סיסמה:</label>
        <div>
            <input type="password" id="password" formControlName="password" class="form-control" [ngClass]="{'is-invalid': validateControl('password') && hasError('password', 'required')
                || validateControl('password') && hasError('password', 'pattern')}" 
                (focus)="resetAlert()"/>

            <div class="invalid-feedback" *ngIf="validateControl('password') && hasError('password', 'required')">יש
                להזין סיסמה</div>
            <div class="invalid-feedback" *ngIf="validateControl('password') && hasError('password', 'pattern')">יש
                להזין סיסמה תיקנית</div>
        </div>

        <ul>
            <li><small>לפחות 8 תווים</small></li>
            <li><small>לפחות אות קטנה אחת</small></li>
            <li><small>לפחות אות גדולה אחת</small></li>
            <li><small>לפחות מספר אחד</small></li>
        </ul>
    </div>
    <div class="form-group">
        <label for="confirm" class="form-label">אישור סיסמה:</label>
        <div>
            <input type="password" id="confirm" formControlName="confirm" class="form-control" [ngClass]="{'is-invalid': validateControl('confirm') && hasError('confirm', 'required')
                || validateControl('confirm') && hasError('confirm', 'mustMatch')}" 
                (focus)="resetAlert()"/>

            <div class="invalid-feedback" *ngIf="validateControl('confirm') && hasError('confirm', 'required')">יש להזין
                את הסיסמה שנית</div>
            <div class="invalid-feedback" *ngIf="hasError('confirm', 'mustMatch')">הסיסמאות לא תואמות</div>
        </div>
    </div>
    <br>
    <div>
        <!-- <p *ngIf="confirmation!=''" class="text-success" [innerHTML]="confirmation"></p> -->
        <p *ngIf="showError" class="text-danger" [innerHTML]="errorMessage"></p>
    </div>
        <div class="row justify-content-center spinnerbtn">
            <button type="submit" class="btn btn-primary-dark col-lg-7 col-md-8 col-sm-8 col-10" [disabled]="!registerForm.valid">רישום משתמש
                <ngx-spinner name="spinnerbtn" [fullScreen]="false" type="ball-spin-clockwise" size="small" color="white"></ngx-spinner>
            </button>
        </div>

</form>

<!-- confirm register modal -->
<ng-template #confirmRegister>
    <div class="modal-header">
      <h4 class="modal-title pull-left text-success">רישום המשתמש בוצע בהצלחה</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p>מייל אימות נשלח לכתובת: {{confirmation}}</p>
        <p>יש להגדיר הרשאה מתאימה בטבלת המשתמשים.</p>
    </div>
  </ng-template>