<div class="container-fluid green-bg main-sm-container">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <h2 class="align-self-center search-h">התוצרים שלנו</h2>
            <div class="col-lg-3 col-md-5 col-sm-6" [ngClass]="{'state-search-active': isFocused || someValue.length }">
                <div class="form-group">
                    <label for="searchline" class="search-lbl">חיפוש תוצר</label>
                    <input (keyup)="modelChange()" class="form-control align-self-center search-input" id="searchline"
                        placeholder="שם התוצר..." (blur)="isFocused = false" (focus)="isFocused = true"
                        [(ngModel)]="someValue">
                    <span class="search-icon"><i class="fa fa-search"></i></span>
                    <button class="btn clear-icon" [hidden]="!isFocused && !someValue.length" (click)="clearSearch()">
                        <i class="fa fa-times-circle"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid main-xs-container">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="d-flex">
            <app-filter filterTitle="סוגי תוצרים" filterName="ProductType" [dataforfilter]="dataforhome['productTypes']"
                [productParamsFromHome]="productParamsFromHome"></app-filter>
            <app-filter filterTitle="ארגונים" filterName="Organizations" [dataforfilter]="dataforhome['organizations']"
                [productParamsFromHome]="productParamsFromHome"></app-filter>
            <app-filter filterTitle="קורסים" filterName="Courses" [dataforfilter]="dataforhome['courses']"
                [productParamsFromHome]="productParamsFromHome"></app-filter>
            <app-filter filterTitle="מרצים" filterName="Lecturers" [dataforfilter]="dataforhome['lecturers']"
                [productParamsFromHome]="productParamsFromHome"></app-filter>
            <app-filter filterTitle="סוגי ארגונים" filterName="OrganizationTypes"
                [dataforfilter]="dataforhome['organizationTypes']" [productParamsFromHome]="productParamsFromHome">
            </app-filter>
            <app-filter filterTitle="משימות" filterName="Tasks" [dataforfilter]="dataforhome['tasks']"
                [productParamsFromHome]="productParamsFromHome"></app-filter>
            <app-filter filterTitle="שנים" filterName="Years" [dataforfilter]="dataforhome['years']"
                [productParamsFromHome]="productParamsFromHome"></app-filter>
            <app-filter filterTitle="תואר" filterName="Degrees" [dataforfilter]="dataforhome['degree']"
                [productParamsFromHome]="productParamsFromHome"></app-filter>
            </div>
            <button (click)='clearAll()' class="btn">איפוס</button>

        </div>

    </div>
</div>
<div class="container-fluid gray-bg">
    <div class="container">
    <div class="row">
        <p class="filteredResults" *ngIf="checkParams()">נמצאו</p>
    </div>
</div>
</div>