.gallery-container {
  /* margin-top: 5rem;; */
}
.ipad {
  background-color: #ececec;
  border-radius: 3rem;
  z-index: 1;
  padding: 3rem;
}
.carousel-main {
  width: 704px !important;
  height: 396;
}
.carousel-caption {
  right: 0;
  text-align: right;
  bottom: 5px;
}
.carousel-caption h3 span {
  padding: 5px 15px;
  font-weight: 600;
  font-size: 1.1em;
}
.carousel-caption p span {
  padding: 5px 15px;
  font-weight: 300;
  font-size: 1em;
}
.carousel-caption p {
  margin-top: 10px;
}

.img-shadow::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
}
.img-shadow:hover .carousel-img {
  transform: scale(1.2);
}
.carousel-img {
  transition: transform 0.5s ease;
  overflow: hidden;
}
.crousel-shadow{
    height: 50px;
    width: 700px;
    background: radial-gradient(50% 48% at 50% 50%, rgba(224, 224, 224, 0.8) 0%, rgba(255, 255, 255, 0.2)) no-repeat 50% 50% / 100% 87%;
    position: absolute;
    bottom: -70px;
}
