.editor-main-wrapper{
    background-color: #F8F8F8;
}
app-side-nav{
    padding: 0;
    background-color: white;
}
.table-container{
    background-color: white;
    border-radius: 10px;
    padding: 15px 15px;
}
table{
    margin: 0 !important;
}
.clear-search{
    position: absolute;
    top: 36px;
    left: 0;
    display: block;
}
.clear-search-hidden{
    display: none;
}
.search-btn{
    position: relative;
}
.search-icon{
    position: absolute;
    top: 43px;
    right: 10px;
}
.search-input{
    padding-right: 35px;
}

.pagination-wrapper{
    overflow-x:scroll;
}