#container {
    text-align: center;
    font-size: 2.2em;
    font-weight: 300;
}

#text {
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 2px;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 2px;
	height: 50px;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: #22DBD0
	}
}
#container{
	height: 50px;
}

/* tablet */
@media only screen and (max-width: 992px) {
    #container{
		font-size: 1.8rem;
	}
}
/* mobile */
@media only screen and (max-width: 576px) {
    #container{
		font-size: 1.6rem;
	}
}